doctype html
html(ng-app='cea')
  head
    title= title
    link(href="/stylesheets/vendor/bootstrap.min.css" rel="stylesheet" media="screen")
    link(href="/stylesheets/vendor/datetimepicker.css" rel="stylesheet" media="screen")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="MainController")
    .container
        block content

    
    script(src="javascripts/vendor.js")
    script(src="javascripts/app.js")
    block scripts